body {
  background-color: rgb(235, 227, 227);

}

.dashboard h4 {
  color: white;
  /* font-weight: bold; */
  text-align: center;
  font-size: 24px;
}
.dashboard p {
  /* color: white; */
  /* font-weight: bold; */
  text-align: center;
}
td,
th {
  padding: 0 2%;
}
tr{
  /* border-bottom: 1px solid gray; */
  padding-bottom: 2.5%;
  margin-top: 1%;
}
.green {
  color:rgb(59, 227, 59);
}
.red{
  color:rgb(233, 103, 103);
}

hr{
  width: 150%;
}
